.about-us {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 14vh;
    padding: 0;
}
@keyframes slideRightFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeftFadeIn {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.about-us .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;   
}
.about-us .image-section {
    flex: 1;
    position: relative;
    border-radius: 6px;
    box-shadow: -30px 30px #ffbd2b;
    padding-bottom: none;
    animation: slideRightFadeIn 1s ease backwards;
}
.about-us .overlay {
    height: 130px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #FFC107;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
 
}

.about-us .overlay h1 {
    margin-bottom: 2px;
    margin-top: 13px;
    font-size: 60px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s ease-in-out forwards;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-us .overlay p {
    margin-bottom: none;
    margin-top: 2px;
}

.about-us .image-section img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about-us .text-section {
    flex: 1;
    padding: 20px;
    animation: slideLeftFadeIn 1s ease backwards;
}
.about-us .text-section h2 {
    font-size: 15px;
    letter-spacing: 6px;
    color: #F7B500;
    margin: 0;
}
.about-us .text-section h1 {
    color: #000;
    font-size: 36px;
    margin: 10px 0;
}

.about-us .text-section p {
    color: #777;
    line-height: 1.6;
}
.about-us .features {
    margin-top: 20px;
}
.about-us .feature {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.about-us .feature.yellow {
    background-color: #FFC107;
}
.about-us .feature.yellow > .icon{
    font-weight:bolder;
    color: white;
    background-color: black;
}
.about-us .feature.black {
    background-color: #333;
    color: #fff;
}
.about-us .feature.black > .icon {
    font-weight:bolder;
    background-color: #FFC107;
}
.about-us .feature .icon {
    background-color: #fff;
    
    border-radius: 55%;
    padding: 15px;
    margin-right: 15px;
}
.about-us .feature .icon img {
    width: 20px;
    height: 20px;
}

@media (max-width: 800px) {
    .about-us .container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;   
}
.about-us .text-section{
    padding-top: 100px;
}
}